# Build folders
build/
build-*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
.ninja*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Outputs / temporal
outputs/
dist/
*.o
*.a
*.so

# Python
__pycache__/
*.pyc
*.pyo

# OS
.Thumbs.db
